
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 2;
    display: inline-block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left:2px;



}
#cssmenu {

    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    width:auto;
    margin-left:-2px;
    position:relative;
}
#cssmenu.align-right ul li {
    float: right;
    border-right: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.22);
}
#cssmenu.align-right ul li a {
    border-right: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}
#cssmenu ul {
    background: #222222;
    /* Old browsers */

    background: -moz-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
    background: -webkit-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
    background: -o-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
    background: -ms-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
    background: linear-gradient(to top, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
}

#cssmenu ul li {
    float: left;
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.22);
    z-index: 1;
}

#cssmenu ul li a {
    display: block;
    font-size: 25px;
    padding: 0px 35px;
    text-decoration: none;
    text-transform: none;
    color: #ffffff;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    z-index: 3;
}
#cssmenu ul li a:hover {
    color: #ffffff;
}
#cssmenu ul li:hover {
    background: #1275ae;
    /* Old browsers */

    background: -moz-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
    background: -webkit-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
    background: -o-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
    background: -ms-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
    background: linear-gradient(to top, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
}

fieldset {
    border: thick solid #000;
}
legend {
    color: #FFF;
    background: #000;
    font-size: 1.5em;
    padding: 5px;

}


#contenu_page {
    border-radius:0px 0px 50px 50px;
    width:91.5%;
    height:700px;
    margin:auto;
    float:left;
    position:relative;
    padding-top: 30px;
    background-image: url('images/fond.jpg');

}
#conteneur_global {

    position:relative;
    width:1088px;
    height:1000px;
    padding-left:250px;
}

#footer {
    margin-left: 38%;
    margin-top:68%
}









@-webkit-keyframes AutoSlide {
    0%, 10%, 100%    { left: 0 }/* première image et dernière */
12.5%, 22,5%    { left: -640px } /*2ème image*/
25%, 35%        { left: -1280px } /*3ème image*/
37.5%, 47.5%    { left: -1920px } /*4ème image*/
50%, 60%        { left: -2560px } /*5ème image*/
62.5%, 72.5%    { left: -3200px } /*6ème image*/
75%, 85%        { left: -3840px } /*7ème image*/
87.5%, 97.5%    { left: -4480px } /*8ème image*/
}
@-moz-keyframes AutoSlide {
    0%, 10%, 100%    { left: 0 }/* première image et dernière*/
    12.5%, 22.5%    { left: -640px } /*2ème image*/
    25%, 35%        { left: -1280px } /*3ème image*/
    37.5%, 47.5%    { left: -1920px } /*4ème image*/
    50%, 60%        { left: -2560px } /*5ème image*/
    62.5%, 72.5%    { left: -3200px } /*6ème image*/
    75%, 85%        { left: -3840px } /*7ème image*/
    87.5%, 97.5%    { left: -4480px } /*8ème image*/
}
@keyframes AutoSlide {
    0%, 10%, 100%    { left: 0 }/* première image et dernière*/
    12.5%, 22.5%    { left: -640px } /*2ème image*/
    25%, 35%        { left: -1280px } /*3ème image*/
    37.5%, 47.5%    { left: -1920px } /*4ème image*/
    50%, 60%        { left: -2560px } /*5ème image*/
    62.5%, 72.5%    { left: -3200px } /*6ème image*/
    75%, 85%        { left: -3840px } /*7ème image*/
    87.5%, 97.5%    { left: -4480px } /*8ème image*/
}

@-webkit-keyframes AutoSlide {

    0%, 10%, 100% { left: 0 }/* première image et dernière*/

    12.5%, 22.5% { left: -640px } /*2ème image ; j'ai modifié le left avec des multiples de 640px qui est la largeur de mon image et ai divisé la valeur du

keyframes par 2 puisque je passe de 4 images à 8 images*/

    25%, 35% { left: -1280px } /*3ème image*/

    37.5%, 47.5% { left: -1920px } /*4ème image*/

    50%, 60% { left: -2560px } /*5ème image*/

    62.5%, 72.5% { left: -3200px } /*6ème image*/

    75%, 85% { left: -3840px } /*7ème image*/

    87.5%, 97.5% { left: -4480px } /*8ème image*/

}

@-moz-keyframes AutoSlide {

    0%, 10%, 100% { left: 0 }/* première image et dernière*/

    12.5%, 22.5% { left: -640px } /*2ème image*/

    25%, 35% { left: -1280px } /*3ème image*/

    37.5%, 47.5% { left: -1920px } /*4ème image*/

    50%, 60% { left: -2560px } /*5ème image*/

    62.5%, 72.5% { left: -3200px } /*6ème image*/

    75%, 85% { left: -3840px } /*7ème image*/

    87.5%, 97.5% { left: -4480px } /*8ème image*/

}

@keyframes AutoSlide {

    0%, 10%, 100% { left: 0 }/* première image et dernière*/

    12.5%, 22.5% { left: -640px } /*2ème image*/

    25%, 35% { left: -1280px } /*3ème image*/

    37.5%, 47.5% { left: -1920px } /*4ème image*/

    50%, 60% { left: -2560px } /*5ème image*/

    62.5%, 72.5% { left: -3200px } /*6ème image*/

    75%, 85% { left: -3840px } /*7ème image*/

    87.5%, 97.5% { left: -4480px } /*8ème image*/

}


#slideshow {

    position: relative; /*le parent positionné*/

    width: 620px; /*limite en largeur (1 élément du slideshow) ; j'ai modifié la largeur de 150px à 640px*/

    height: 410px; /*limite en hauteur*/

    margin: 20px auto;

    overflow: hidden; /*on cache ce qui déborde*/

}

#sContent li {

    display: inline; /*on aligne les éléments du slideshow*/

}

#sContent {

    position: absolute; /*on sort l'élément du flux*/

    top: 0; /*on le positionne précisément dans ...*/

    left: 0; /*l'angle haut gauche de son parent positionné*/

    width: 5120px; /*j'ai modifié la largeur totale de mon slideshow = 8 x 640 px*/

    margin: 0;

    padding: 0;

    /*CSS3 webkit keyframes animation*/

    -webkit-animation-name: AutoSlide;

    -webkit-animation-duration: 25s;

    -webkit-animation-iteration-count: infinite;

    -webkit-animation-timing-function: ease-in-out;

    /*CSS3 moz keyframes animation*/

    -moz-animation-name: AutoSlide;

    -moz-animation-duration: 25s;

    -moz-animation-iteration-count: infinite;

    -moz-animation-timing-function: ease-in-out;

    /*CSS3 W3C keyframes animation*/

    animation-name: AutoSlide;

    animation-duration: 25s;

    animation-iteration-count: infinite;

    animation-timing-function: ease-in-out;

}